<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--Author      : @arboshiki-->
<div id="invoice">

    <div class="toolbar hidden-print">
        <div class="text-right">
            <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            <!-- <button class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button> -->
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://rudrohom.com">
                            <img style="width: 200px;" src="/images/icons/invoice-logo.png"
                                data-holder-rendered="true" />
                        </a>
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                            <a target="_blank" href="https://rudrohom.com">
                                Jusbid Pvt. Ltd.
                            </a>
                        </h2>
                        <div>4-C, Hotel Udaivillas Road, Haridas ji ki Magri, Udaipur, Rajasthan, India 313004</div>
                        <div>+91 9983301799</div>
                        <div>Sales@rudrohom.com</div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">INVOICE TO:</div>
                        <h2 class="to"><%=  BookingData.firstname  %> <%= BookingData.lastname %></h2>
                        <div class="address" ><%=  BookingData.address  %>
                            <%if (BookingData.userdata.address != '' ) {  %>
                                <%=  BookingData.userdata.address  %>
                            <% } %>
                            <%if (BookingData.userdata.address == '') { %>
                               <span> NA </span> 
                            <% } %>
                        </div>
                        <div class="email"><a href="mailto:<%=  BookingData.email  %>"> <%=  BookingData.email  %> </a></div>
                    </div>
                    <div class="col invoice-details">
                        <h2 class="invoice-id">#<%=  BookingData.series  %></h2>
                        <div class="date">Date of Invoice: <%= BookingData.payment.createdAt %></div>
                        <!-- <div class="date">Due Date: 30/10/2018</div> -->
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-left">DETAILS</th>
                            <th class="text-right">ROOM PRICE</th>
                            <th class="text-right">DAYS</th>
                            <th class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="no">04</td>
                            <td class="text-left">

                                Booking at '<%=  BookingData.hotel_name %>' for <%=  BookingData.rooms  %> Rooms 
                                <br>
                                Checkin Date - <%=  BookingData.arrival_date %> and Checkout Date - <%=  BookingData.departure_date %>
                                
                            </td>
                            <td class="unit">₹ <%=  BookingData.room_price %>/- </td>
                            <td class="qty"> <%= BookingData.days %> </td>
                            <% var TotolRealCost =  BookingData.room_price * BookingData.days %>
                            <td class="total">₹ <%=  TotolRealCost %>/-</td>
                        </tr>
                      
                    </tbody>


                    <tfoot>
                       

                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2"><span style="color: red;">JUSBID</span> DISCOUNT APPLIED</td>
                            <% var BidDiscount = TotolRealCost - BookingData.price  %>
                            <td>- ₹ <%=  BidDiscount %>/-</td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>₹ <%=  BookingData.price %>/-</td>
                        </tr>


                        <% var TaxApplied = 0; %>
                        <% var BookedPrice = BookingData.price; %>
                        <tr>
                            <td colspan="2"></td>
                            <%if (BookedPrice <= 999 ) {  %> <td colspan="2">+GST 0%</td>  <td colspan="2">₹0/- </td>    <% } %>
                            <%if (BookedPrice >= 1000 &&  BookedPrice <= 7499) {  %> <td colspan="2">+GST 12%</td>  <td colspan="2">₹<% TaxApplied = ((12/ 100) * BookedPrice).toFixed(2)  %><%= TaxApplied  %>/-</td>  <% } %>
                            <%if (BookedPrice >= 7500) {  %> <td colspan="2">+GST 18%</td>  <td colspan="2">₹<% TaxApplied = ((18/ 100) * BookedPrice).toFixed(2)  %><%= TaxApplied  %>/- </td>   <% } %>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <% var GrandTotalPrice = parseFloat(BookedPrice) + parseFloat(TaxApplied) %>
                            <td>₹ <%=  GrandTotalPrice %>/-</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="thanks">Thank you!</div>
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                </div>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>

<style>
    #invoice {
        padding: 30px;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        min-height: 680px;
        padding: 15px
    }

    .invoice header {
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #3989c6
    }

    .invoice .company-details {
        text-align: right
    }

    .invoice .company-details .name {
        margin-top: 0;
        margin-bottom: 0
    }

    .invoice .contacts {
        margin-bottom: 20px
    }

    .invoice .invoice-to {
        text-align: left
    }

    .invoice .invoice-to .to {
        margin-top: 0;
        margin-bottom: 0
    }

    .invoice .invoice-details {
        text-align: right
    }

    .invoice .invoice-details .invoice-id {
        margin-top: 0;
        color: #3989c6
    }

    .invoice main {
        padding-bottom: 50px
    }

    .invoice main .thanks {
        margin-top: -100px;
        font-size: 2em;
        margin-bottom: 50px
    }

    .invoice main .notices {
        padding-left: 6px;
        border-left: 6px solid #3989c6
    }

    .invoice main .notices .notice {
        font-size: 1.2em
    }

    .invoice table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px
    }

    .invoice table td,
    .invoice table th {
        padding: 15px;
        background: #eee;
        border-bottom: 1px solid #fff
    }

    .invoice table th {
        white-space: nowrap;
        font-weight: 400;
        font-size: 16px
    }

    .invoice table td h3 {
        margin: 0;
        font-weight: 400;
        color: #3989c6;
        font-size: 1.2em
    }

    .invoice table .qty,
    .invoice table .total,
    .invoice table .unit {
        text-align: right;
        font-size: 1.2em
    }

    .invoice table .no {
        color: #fff;
        font-size: 1.6em;
        background: #3989c6
    }

    .invoice table .unit {
        background: #ddd
    }

    .invoice table .total {
        background: #3989c6;
        color: #fff
    }

    .invoice table tbody tr:last-child td {
        border: none
    }

    .invoice table tfoot td {
        background: 0 0;
        border-bottom: none;
        white-space: nowrap;
        text-align: right;
        padding: 10px 20px;
        font-size: 1.2em;
        border-top: 1px solid #aaa
    }

    .invoice table tfoot tr:first-child td {
        border-top: none
    }

    .invoice table tfoot tr:last-child td {
        color: #3989c6;
        font-size: 1.4em;
        border-top: 1px solid #3989c6
    }

    .invoice table tfoot tr td:first-child {
        border: none
    }

    .invoice footer {
        width: 100%;
        text-align: center;
        color: #777;
        border-top: 1px solid #aaa;
        padding: 8px 0
    }

    @media print {
        .invoice {
            font-size: 11px !important;
            overflow: hidden !important
        }

        .invoice footer {
            position: absolute;
            bottom: 10px;
            page-break-after: always
        }

        .invoice>div:last-child {
            page-break-before: always
        }
    }
</style>


<script>
    $('#printInvoice').click(function () {
        Popup($('.invoice')[0].outerHTML);
        function Popup(data) {
            window.print();
            return true;
        }
    });
</script>